<div class="jumbotron">
   <p><h1>Happy Mother's Day, Mom!</h1></p>
   <p>You're a rockstar everyday, but today we all let you know it.</p>
</div>
<div id="photoShowContainer">
  <div id="photoShowWrap">
    <div id="photoShow">
      <img src="assets/images/m1.png" alt="mary_pic"/>
      <img src="assets/images/m2.png" alt="mary_pic"/>
      <img src="assets/images/m3.png" alt="mary_pic"/>
      <img src="assets/images/m4.png" alt="mary_pic"/>
      <img src="assets/images/m5.png" alt="mary_pic"/>
      <img src="assets/images/m6.png" alt="mary_pic"/>
      <img src="assets/images/m7.png" alt="mary_pic"/>
      <img src="assets/images/m8.png" alt="mary_pic"/>
      <img src="assets/images/m9.png" alt="mary_pic"/>
      <img src="assets/images/m10.png" alt="mary_pic"/>
      <img src="assets/images/m11.png" alt="mary_pic"/>
      <img src="assets/images/m12.png" alt="mary_pic"/>
      <img src="assets/images/m13.png" alt="mary_pic"/>
      <img src="assets/images/m14.png" alt="mary_pic"/>
      <img src="assets/images/m15.png" alt="mary_pic"/>
      <img src="assets/images/m16.png" alt="mary_pic"/>
      <img src="assets/images/m17.png" alt="mary_pic"/>
      <img src="assets/images/m18.png" alt="mary_pic"/>
      <img src="assets/images/m19.png" alt="mary_pic"/>
      <img src="assets/images/m20.png" alt="mary_pic"/>
      <img src="assets/images/m21.png" alt="mary_pic"/>
      <img src="assets/images/m22.png" alt="mary_pic"/>

    </div>
  </div>
</div>
